{% extends 'base_admin.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body_admin %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="text-center my-3">Modifier un categorie</h1>
				{{ form_start(produitForm) }}

				{{ form_row(produitForm.image) }}
				{{ form_row(produitForm.designation) }}
				{{ form_row(produitForm.prix) }}
				{{ form_row(produitForm.categorie) }}

				<button type="submit" class="btn btn-primary my-4">Modifier</button>

				{{ form_end(produitForm) }}


			</div>
		</div>
	</div>
{% endblock %}
