{% extends 'base_admin.html.twig' %}

{% block title %}slider
{% endblock %}

{% block body_admin %}

	<div class="container">
		<div class="row">
			<div class="col">
				{% for success in app.flashes('success') %}
					<div class="alert alert-success alert-dismissible text-center fade show" role="alert">
						{{success}}
						<button type="button" class="close text-right" data-dismiss="alert" aria-label="close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}

				<h1 class="text-center my-3">Ajouter une slider</h1>
				{{ form_start(sliderForm) }}

				{{ form_row(sliderForm.image) }}
				{{ form_row(sliderForm.description1) }}
				{{ form_row(sliderForm.description2) }}

				<button type="submit" class="btn btn-primary my-4">Ajouter</button>

				{{ form_end(sliderForm) }}


			</div>
		</div>
	</div>
{% endblock %}
